<div class="p-home">
  <div class="p-home__container">
    <div class="p-home__hero">
      <div class="p-home__slider">
        <%= image_tag 'home/rito1.png', class: 'p-home__sliderImage' %>
      </div>
      <div class="p-home__slider">
        <%= image_tag 'home/rito2.png', class: 'p-home__sliderImage' %>
      </div>
      <div class="p-home__slider">
        <%= image_tag 'home/rito3.png', class: 'p-home__sliderImage' %>
      </div>
      <div class="p-home__slider">
        <%= image_tag 'home/rito4.png', class: 'p-home__sliderImage' %>
      </div>
  </div>
    <div class="p-home__wrap">
      <div class="p-home__news">
        <h2 class="p-home__title">NEWS</h2>
        <div class="p-home__inner">
          <div class="p-home__newsBox">
            <p class="p-home__newsTitle">2022/5/17 スタンプ販売！</p>
            <p class="p-home__newsTitle">2021/7/17 オリジナルMV投稿!</p>
            <p class="p-home__newsTitle">2022/6/22 ウェブサイト開設！</p>
            <div class="p-home__more">
              <p class="p-home__moreBtn">MORE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="p-home__twitter">
        <h2 class="p-home__title">Twitter</h2>
        <div class="p-home__inner">
          <a class="twitter-timeline" data-width="100%" data-height="100%" data-theme="dark" href="https://twitter.com/rito_yukihira?ref_src=twsrc%5Etfw">Tweets by rito_yukihira</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="p-home__movie">
        <h2 class="p-home__title">MOVIE</h2>
        <div class="p-home__inner">
          <div class="p-home__movieBox">
            <div class="p-home__jacket">
              <%= image_tag 'home/midnight_aquarium.png', class: 'p-home__picture' %>
            </div>
            <p class="p-home__jacketTitle">深夜水族館</p>
            <p class="p-home__jacketText">2021/8/13 公開</p>
          </div>
        </div>
      </div>
      <div class="p-home__goods">
        <h2 class="p-home__title">GOODS</h2>
        <div class="p-home__inner">
          <div class="p-home__goodsBox">
            <ul class="p-home__stampBox">
              <li class="p-home__stamp">
                <%= image_tag 'home/stamp1.png', class: 'p-home__stampIcon' %>
              </li>
              <li class="p-home__stamp">
                <%= image_tag 'home/stamp2.png', class: 'p-home__stampIcon' %>
              </li>
              <li class="p-home__stamp">
                <%= image_tag 'home/stamp3.png', class: 'p-home__stampIcon' %>
              </li>
              <li class="p-home__stamp">
                <%= image_tag 'home/stamp4.png', class: 'p-home__stampIcon' %>
              </li>
            </ul>
            <p class="p-home__stampTitle">ゆきひら りとのすたんぷ発売中！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>