<section class="p-movie">
  <div class="p-movie__container">
    <h1 class="p-movie__title">MOVIE</h1>
    <div class="p-movie__hero">
      <div class="p-movie__slider">
        <iframe class="p-movie__sliderMovie" src="https://www.youtube.com/embed/U0bjuYZmdCg?start=139" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="p-movie__slider">
        <iframe class="p-movie__sliderMovie" src="https://www.youtube.com/embed/6iNvx7w5hdE?start=124" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="p-movie__slider">
        <iframe class="p-movie__sliderMovie" src="https://www.youtube.com/embed/qW_8D5_H33Q?start=189" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="p-movie__slider">
        <iframe class="p-movie__sliderMovie" src="https://www.youtube.com/embed/ERSInlpH7Ts?start=183" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="p-movie__slider">
        <iframe class="p-movie__sliderMovie" src="https://www.youtube.com/embed/Ba-OpEggDOY?start=187" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <h2 class="p-movie__best">Favorite Songs</h2>
    <ul class="p-movie__list">
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail1.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=A7w3dLDXF5s" %>
        <p class="p-movie__text">KING</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail2.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=Hf8RzQ_Am_I" %>
        <p class="p-movie__text">ジャンキーナイトタウンオーケストラ</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail3.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=CAFPUOWnaLs" %>
        <p class="p-movie__text">劣等上等</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail4.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=buWbj7m70mQ" %>
        <p class="p-movie__text">夜に駆ける</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail5.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=mGGvVkls4yE" %>
        <p class="p-movie__text">GETCHA!</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail6.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=HdkaEzR60vQ" %>
        <p class="p-movie__text">反芻シ考</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail7.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=lNYLcY3Y1aE" %>
        <p class="p-movie__text">ポリリズム</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail8.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=JSnHzBdTvy0" %>
        <p class="p-movie__text">春を告げる</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail9.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=MbnGL9ln07o" %>
        <p class="p-movie__text">染み</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail10.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=xv3PKsg6rVM" %>
        <p class="p-movie__text">竹取オーバーナイトセンセーション</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail11.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=3104lAjatpA" %>
        <p class="p-movie__text">Ready Steady</p>
      </li>
      <li class="p-movie__item">
        <%= link_to image_tag("movie/thumbnail12.png",class:'p-movie__thumbnail'), "https://www.youtube.com/watch?v=h_ilVPOq-ME" %>
        <p class="p-movie__text">アニマル</p>
      </li>
    </ul>
  </div>
</section>