<footer class="l-footer">
  <div class="l-footer__container">
    <div class="l-footer__sns">
      <%=link_to "", "https://lin.ee/ZAWigoZ", class:"l-footer__LINE" %>
      <%=link_to "", "https://www.tiktok.com/@rito_yukihira?_d=secCgYIASAHKAESPgo8JG6ajgpwVbadQbIX5xsSdkLL%2F5iSloA71zNCWY1p10AGzrHuRvcMU8N3lgwmkNZEdCqblqSEbhUKoZQQGgA%3D&_r=1&checksum=2a156b4dfda93173332efdd49929578956e5dc6b80f8ddf20fa203de08c5287c&language=ja&sec_uid=MS4wLjABAAAAV7eBLyYgKRVnP6EP6E9eUnjWM20QHfS9jt74KfgmLjcnELCKvjezhq0cRiQ8epNQ&sec_user_id=MS4wLjABAAAAV7eBLyYgKRVnP6EP6E9eUnjWM20QHfS9jt74KfgmLjcnELCKvjezhq0cRiQ8epNQ&share_app_id=1180&share_author_id=6881651520137528321&share_link_id=57EB10CE-94A6-4523-9F2E-DA6D13867700&source=h5_t&timestamp=1655758173&tt_from=line&u_code=df0b21m90hkai5&ug_btm=b8727%2Cb0&user_id=6881651520137528321&utm_campaign=client_share&utm_medium=ios&utm_source=line", class:"l-footer__tiktok" %>
      <%=link_to "", "https://www.nicovideo.jp/series/103604", class:"l-footer__niconico" %>
    </div>
    <div class="l-footer__copyright">
      <p class="l-footer__text">Copyright &copy; 2022 rito-yukihira</p>
    </div>
    <% if user_signed_in? %>
    <div class="l-footer__info">
      <%= current_user.name %>
      <ul class="l-footer__menu">
        <li class="l-footer__list">
          <%= link_to "マイページ", "/users/#{current_user.id}", class:"l-footer__link" %>
        </li>
        <li class="l-footer__list">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"l-footer__link" %>
        </li>
      </ul>
      <%= link_to "投稿する", new_news_path, class:"l-footer__link" %>
    </div>
    <% else %>
    <div class="l-footer__info">
      <ul class="l-footer__menu">
        <li class="l-footer__list">
          <%= link_to "管理者の方はこちら", new_user_session_path, class:"l-footer__link" %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</footer>
