<span class="nav_toggle">
  <i></i>
  <i></i>
  <i></i>
</span>
<nav class="nav">
  <ul class="nav_menu_ul">
    <li class="nav_menu_li"><%=link_to  "NEWS", news_index_path, class:"l-header__text" %></li>
    <li class="nav_menu_li"><%=link_to  "PROFILE", profile_path, class:"l-header__text" %></li>
    <li class="nav_menu_li"><%=link_to  "MOVIE", movie_path, class:"l-header__text" %></li>
    <li class="nav_menu_li"><%=link_to  "LIVE", live_path, class:"l-header__text" %></li>
    <li class="nav_menu_li"><%=link_to  "GOODS", goods_path, class:"l-header__text" %></li>
    <li class="nav_menu_li"><%=link_to  "CONTACT", new_contacts_path, class:"l-header__text" %></li>
  </ul>
</nav>